@import url('//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css');
* {
	margin: 0;
	padding: 0;
}
.stars {
	float: left;
	height: 46px;
	padding: 0 10px;
}
.stars:not(:checked) > input {
	position: absolute;
	top: -9999px;
}
.stars:not(:checked) > label {
	float: right;
	width: 1em;
	overflow: hidden;
	white-space: nowrap;
	cursor: pointer;
	font-size: 30px;
	color: #8b837f;
}
.stars:not(:checked) > label:before {
	content: '★ ';
}
.stars > input:checked ~ label {
	color: #474544;
}
.stars:not(:checked) > label:hover,
.stars:not(:checked) > label:hover ~ label {
	color: #474544;
}
.stars > input:checked + label:hover,
.stars > input:checked + label:hover ~ label,
.stars > input:checked ~ label:hover,
.stars > input:checked ~ label:hover ~ label,
.stars > label:hover ~ input:checked ~ label {
	color: #474544;
}

/* ==== ^ RATINGS ^ ==== */

/* === */

/* whole page  */
.BookDetail {
	width: 100%;
	height: 100%;
}

/* === */

section {
	padding: 1%;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	align-content: flex-start;
}

/* == LEFT== */

.cover {
	height: 340px;
	width: auto;
	border: 5px solid #71aca0;
	border-radius: 10px;
	background-color: #81b7ac;
	padding: 0.7%;
}

/* == MIDDLE== */

.book-detail {
	width: 30%;
	padding: 0;
	margin: 0;
}

.book-detail div {
	display: flex;
	flex-flow: column wrap;
	align-content: space-around;
}

.book-detail h1 {
	padding: 2%;
}

.book-detail h3 {
	padding: 2%;
}

.book-detail p {
	padding: 2%;
}

.book-detail a {
	padding: 2%;
}

/* == RIGHT == */

/* review form (stars) (text) */
.leave-review {
	width: 31%;
	padding: 3% 4.5% 3% 3%;
	height: 100%;
	background-color: #e6e2e0;
	border-radius: 15px;
}

.leave-review aside {
	display: flex;
	flex-flow: column nowrap;
}

.Average {
	padding: 2%;
}

.leave-review form {
	width: 100%;
	display: flex;
	flex-flow: column nowrap;
	padding: 1%;
}

.stars {
	display: block;
	align-self: flex-start;
}

.stars wrapper {
	height: 100%;
}

.leave-review textarea {
	width: 100%;
	min-height: 100px;
	padding: 3px;
}

.leave-review button {
	padding: 2%;
	font-size: 35px;
	background-color: #e6e2e0;
	border: none;
	border-radius: 35px;
	align-self: bottom;
}

.leave-review button:hover {
	background-color: #f5f3f2;
}

/* === */

/* list of past reviews */

.past-reviews {
	width: 100%;
	margin: 0 15%;
	text-align: center;
}

.past-reviews h3 {
	letter-spacing: 3px;
	padding: 2%;
}

.past-reviews p {
	padding: 1%;
	margin: 1%;
	background-color: #e6e2e0;
	border-radius: 15px;
}
