@import url('//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css');
* {
	margin: 0;
	padding: 0;
}
.rate {
	float: left;
	height: 46px;
	padding: 0 10px;
}
.rate:not(:checked) > input {
	position: absolute;
	top: -9999px;
}
.rate:not(:checked) > label {
	float: right;
	width: 1em;
	overflow: hidden;
	white-space: nowrap;
	cursor: pointer;
	font-size: 30px;
	color: #8b837f;
}
.rate:not(:checked) > label:before {
	content: '★ ';
}
.rate > input:checked ~ label {
	color: #474544;
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
	color: #474544;
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
	color: #474544;
}

/* ==== ^ RATINGS ^ ==== */

/* whole page  */
section {
	display: grid;
	grid-template-columns: [left] auto [right] auto;

	grid-template-rows: [top] 50px [second] auto [middle] auto [last];

	padding: 1%;
}

/* == LEFT == */

/* book title */
h1 {
	grid-column: left;
	grid-row: top;
	font-family: Poppins;
}

/* details of book */
/* aside {
	grid-column: left;
	grid-row: middle;
} */

/* cover image */
aside img {
	grid-column: left;
	grid-row: middle;
}

/* desc */

/* buy link */

/* == RIGHT == */

/* avg rating */
.Average {
	grid-column: right;
	grid-row: top;
}

/* 'leave a review' */
h2 {
	grid-column: right;
	grid-row: second;
	font-family: Poppins;
}

/* review form */
container {
	grid-column: right;
}

/* list of past reviews */
.pastReviews {
	grid-column: span 2;
	grid-row: last;
}

h3 /* 'author' */,
h4 /* 'reviews' */ {
	font-family: Poppins;
}
