@import url('//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css');
* {
	margin: 0;
	padding: 0;
}
.stars {
	float: left;
	height: 46px;
	padding: 0 10px;
}
.stars:not(:checked) > input {
	position: absolute;
	top: -9999px;
}
.stars:not(:checked) > label {
	float: right;
	width: 1em;
	overflow: hidden;
	white-space: nowrap;
	cursor: pointer;
	font-size: 30px;
	color: #8b837f;
}
.stars:not(:checked) > label:before {
	content: '★ ';
}
.stars > input:checked ~ label {
	color: #474544;
}
.stars:not(:checked) > label:hover,
.stars:not(:checked) > label:hover ~ label {
	color: #474544;
}
.stars > input:checked + label:hover,
.stars > input:checked + label:hover ~ label,
.stars > input:checked ~ label:hover,
.stars > input:checked ~ label:hover ~ label,
.stars > label:hover ~ input:checked ~ label {
	color: #474544;
}

/* ==== ^ RATINGS ^ ==== */

/* === */

/* whole page  */
.BookDetail {
	width: 100%;
	height: 100%;
}

/* === */

/* vv START OF GRID  vv */
section {
	padding: 2%;

	display: grid;

	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	/* grid-template-areas:
		'image description review'
		'. history .'; */

	column-gap: 5%;
	justify-items: center;
}

/* == LEFT == */

/* details of book */

/* .book-detail aside {
	grid-area: 
} */

/* cover image */
.book-detail img {
	/* grid-area: 'image'; */
	grid-column: 1;
	grid-row: 1;
	width: 100%;
	height: auto%;
}

.book-detail div {
	/* grid-area: 'description'; */
	grid-column: 2;
	grid-row: 1;
}

/* book title */
/* .book-detail h1 {
	grid-area: 'description';
} */

/* author */
.book-detail h3 {
	font-family: Poppins;
}

/* desc */
/* .book-detail p {
	align-self: end;
} */

/* buy link */
/* .book-detail a {
	grid-area: link;
	align-self: end;
} */

/* == RIGHT == */

/* review form (stars) (text) */
.reviewBox div {
	grid-column: 3;
	grid-row: 1;
	height: 100%;
}

.reviewBox container {
	content: 100%;
	height: 90%;
	background-color: #e6e2e0;
	padding: 8%;
	border-radius: 15px;

	display: grid;
	align-items: bottom;
	justify-items: start;

	grid-template-columns: 2fr 1fr;
	column-gap: 10px;

	grid-template-rows: 45px 15px 1fr;
	row-gap: 5px;
}

/* avg rating */
.Average {
	grid-column: 2;
	grid-row: 1;
	/* align-self: center; */
}

/* 'leave a review' */
.leave-review h2 {
	font-family: Poppins;
	grid-column: 1;
	align-self: top;
}

.leave-review form {
	grid-column: 1 / span 2;
	width: 100%;
	display: flex;
	flex-flow: column nowrap;
}

.stars {
	display: block;
	align-self: flex-start;
	padding-bottom: 2%;
}

.leave-review textarea {
	width: 100%;
	min-height: 100px;
	padding: 3px;
}

.leave-review button {
	padding: 2%;
	/* margin: 2%; */
	font-size: 35px;
	background-color: #e6e2e0;
	border: none;
	border-radius: 35px;
	align-self: bottom;
}

.leave-review button:hover {
	background-color: #f5f3f2;
}

/* === */

/* list of past reviews */
.pastReviews {
	/* grid-area: 'history'; */
	grid-column: 2;
	grid-row: 2;
}

/* 'reviews' */
h4 {
	font-family: Poppins;
}

/* ^^ END OF GRID  ^^ */
