@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&family=Roboto:wght@300;400;500;700&display=swap');

.App {
	overflow-x: hidden;
	overflow-y: auto;
	height: 100vh;
	width: 100%;
	font-family: 'Roboto';
	background-color: #f5f3f2;
	color: #474544;
}

::-moz-selection {
	background-color: #dcf5f0;
	color: #3d7a6e;
}
::selection {
	background-color: #dcf5f0;
	color: #3d7a6e;
}

input {
	color: #3d7a6e;
	background-color: #dcf5f0;
	font-family: 'Poppins';
	outline: #3d7a6e;
}

textarea {
	color: #3d7a6e;
	background-color: #dcf5f0;
	font-family: 'Poppins';
	border: 2px solid #71aca0;
	border-radius: 10px;
	outline: #3d7a6e;
	resize: none;
}

input::selection {
	color: #dcf5f0;
	background: #81b7ac;
}

textarea::selection {
	color: #dcf5f0;
	background: #81b7ac;
}

:root {
	overflow-x: hidden;
	overflow-y: auto;
}

main {
	margin: 2% 4%;
	height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: Poppins;
}

a {
	font-family: 'Poppins';
	color: #71aca0;
	letter-spacing: 3px;
	text-decoration: none;
}

a:hover {
	background-color: #e6e2e0;
}

h1 {
	font-size: 32pt;
	font-weight: lighter;
}

button {
	/* background-color: none;
	transition: background 400ms ease-in-out; */
	padding: 5px;
	border-radius: 5px;
	outline: none;
	border: none;
	margin: 1%;
	color: #474544;
}

button:hover,
button:active {
	background-color: #b1d8d0;
	transition: background 400ms ease-in-out;
}
